body {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass luxury card */
.container {
  width: 85%;
  max-width: 950px;
  padding: 40px;
  border-radius: 30px;

  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(255,255,255,0.25);

  box-shadow:
    0 25px 60px rgba(0,0,0,0.5),
    inset 0 0 30px rgba(255,255,255,0.08);
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

/* Input boxes */
input, textarea, select {
  width: 100%;
  padding: 15px;
  margin: 12px 0;

  background: rgba(255,255,255,0.15);

  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 15px;

  color: white;
  font-size: 15px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: #ddd;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #f5d76e;
  box-shadow: 0 0 15px rgba(245,215,110,0.5);
}


/* Premium button */
button {
  display: block;
  margin: 25px auto 0;

  background: linear-gradient(135deg,#f5d76e,#c9a227);

  color:#111;

  padding:15px 45px;

  border:none;
  border-radius:40px;

  font-size:16px;
  font-weight:bold;

  cursor:pointer;

  transition:0.3s;
}

button:hover {
  transform:translateY(-3px);
  box-shadow:0 15px 30px rgba(245,215,110,0.5);
}
